altair
annotated-types==0.6.0
anyio==4.3.0
attrs
blinker
Brotli==1.1.0
cachetools
certifi
cffi
charset-normalizer
click
cssselect2
defusedxml
distro
docopt
fonttools
fpdf2
gitdb
GitPython
h11
html5lib
httpcore
httpx
idna
Jinja2
jsonschema
jsonschema-specifications
Markdown==3.6
markdown-it-py
markdown2==2.4.13
MarkupSafe
md2pdf==1.0.1
mdurl
numpy
packaging
pandas
pillow
protobuf
pyarrow
pycparser
pydantic==2.7.1
pydantic_core==2.18.2
pydeck
pydyf==0.10.0
Pygments
pyphen==0.15.0
python-dateutil
python-dotenv
pytz
referencing
requests
rich
rpds-py
six
smmap
sniffio
streamlit
tenacity
tinycss2
together
toml
toolz
tornado
typing_extensions
tzdata
urllib3
weasyprint
webencodings
zopfli
